# IfModule prevents the server error if the app is moved in an environment which doesn’t support mod_rewrite
<IfModule mod_rewrite.c>
  RewriteEngine On

    RewriteRule ^(.*)$ public/$1 [L]

</IfModule>